.currRooms {  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "room1 room2 room3 room4 room5";
}
.room1,.room2,.room3,.room4,.room5{
  border: 0px solid red;  bottom: 100px;
  position: relative;
  top: 0;
  transition: ease-in-out 0s;
  color: rgb(255, 191, 0);
  background-color: rgba(45, 18, 54, 0.75);
  border-radius: 10px;
}

.room1:hover,.room2:hover,.room3:hover,.room4:hover,.room5:hover{
  border: 0px solid purple;
  background-color: rgba(190, 111, 227, 0.9);
  top: -10px;
  left: 10px;
  box-shadow: -10px 10px 15px 5px rgba(255, 191, 0, 0.75);
}

.room1{ 
  grid-area: room1; 

}

.room2{ 
  grid-area: room2; 
}

.room3{ 
  grid-area: room3; 
}

.room4{ 
  grid-area: room4; 
}

.room5{ 
  grid-area: room5; 
}

div.mainContent{
  border: 0px solid black;
  height: 45.6vh;
  width: 99.8vw;

}

.mainContentBackground{
  height: 45.6vh;
  width: 99.92vw;
  z-index: 0;
  position: absolute;
  opacity: 0.25;
}

div.currRooms{
  align-items: center;
  border: 0px solid pink;
  height: 30vh;
}

.genres {  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "genre1 genre2 genre3 genre4 genre5 genre6 genre7 genre8";
}
div.genres{
  border: 0px solid green;
  height: 30vh;
  color: aqua;
}
.genre1 { grid-area: genre1; }

.genre2 { grid-area: genre2; }

.genre3 { grid-area: genre3; }

.genre4 { grid-area: genre4; }

.genre5 { grid-area: genre5; }

.genre6 { grid-area: genre6; }

.genre7 { grid-area: genre7; }

.genre8 { grid-area: genre8; }

.genre1,.genre2,.genre3,.genre4, .genre5,.genre6,.genre7,.genre8{
  border: 0px solid purple;
  color: aqua;
}

.homeBackground{
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100vw;
  height: 140vh;
}

.animated-background{
  height: 130vh;
  background: linear-gradient(
    to right, rgb(55, 35, 66),
    rgb(70, 44, 84), rgb(90, 54, 110)
  );
  background-size: 400% 400%;
  animation: animate-background 5s infinite ease-in-out;
}
  
@keyframes animate-background{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

hr.rounded {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 5px solid rgb(195, 114, 233);
  border-radius: 5px;
  border-bottom: 0px;
  width: 90vw;
  
}