
li{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 0 8px;
}
ul{
    display: flex;
    padding-inline-start: 0;
}
nav{
    display: flex;
}
.Header{  
    background-color: #6441a5;
    display: grid;
    grid-template-columns: 25% 45% 30%;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas:
      "logo browse loginSignup";
}

.logo{ 
    grid-area: logo; 
    display: flex;
}

.browse{ 
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-area: browse; 
    display: flex;
}

.loginSignup{ 
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-area: loginSignup;
    display: flex; 
}
  
.wave{
    height: 100px;
    z-index: 1;
    position: relative;
}