li{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 0 8px;
}

.main-container{
    background-color: purple;
    width: 10vw;
    /*width: fit-content;*/
}

.main-nav{
    /*position: fixed;*/
    display: flex;
    padding: 2em 4em;
}

.main-nav .ul-first{
    /*position: fixed;*/
    display: flex;
  
}

.main-nav .ul-sec{
    /*position: fixed;*/
    display: flex;
}

.main-nav .ul-sec li{
    margin-right: 10px;
}

.main-nav .ul-sec li a{
    border: 5px solid blue;
    border-radius: 5px;
    padding: 4px 16px;
    margin: auto;
    background-color: blue;
    color: white;
}

.main-nav .ul-first li a{
    color: white;
}