.progress{
    border-radius: 25px;
    margin-top: 2%;
    background-color: #D3D3D3;
    border: solid 1px black;
}

.progress-bar{
    background-color: #D3D3D3;
}

p.pass{
    margin-top: 2%;
    font-size: 15px;
    text-align: right;
}

span{
    font-size: 12px;
    float: right;
}