.modal {
    background-color: rgba(1, 1, 1, 0.5);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
    justify-content: center;
    align-items: center;

}

.modelContent {
    
    background-color: wheat;
    margin-top: 0;
    margin-left: 40%;
    margin-right: 40%;
    border: 1px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}