.videoSize{
    border: 0px solid green;
    width: 20vw;
    height: 20vh;
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: -45px;
}

.relativeWebcam{
    border: 0px solid red;
    position: relative;
    margin-top: 0px;
    z-index: 1;
}